<template>
  <div class="widget">
    <dashboard-widget
      :redirecturi="redirecturi"
      :themecss="themecss"
      :login="true === logged"
    >
      <!-- <p>If you see this message your AdBlocker may prevent this page from loading properly. <br />Please consider to mark this page as trusted for your AdBocker.</p> -->
    </dashboard-widget>
    <template v-if="false === logged">
      <p>
        Dashboard is a external Widget provided by
        <a href="http://dashboard-widget.localhost" target="blank"
          >dashboard-widget.localhost</a
        >
      </p>
      <br />
      <v-btn elevation="2" @click="logged = true">Open Dashboard</v-btn>
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      redirecturi: "http://project-page.localhost/dashboard.html",
      themecss: "https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css",
      utilitycss: "https://cdn.tailwindcss.com",
      iconcss:
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css",
      scripts: [],
      logged: null,
      postRobotPayload: {
        id: "project-page.widget",
        items: [],
      },
    };
  },
  beforeMount() {
    console.log("project-page", "beforeMount");
  },
  mounted() {
    if ("undefined" === typeof postRobot || !postRobot) {
      const postRobotScript = document.createElement("script");
      postRobotScript.setAttribute(
        "src",
        "https://cdn.jsdelivr.net/npm/post-robot@10.0.46/dist/post-robot.min.js"
      );
      postRobotScript.onload = this.postRobotOnReady;
      document.head.appendChild(postRobotScript);
    } else {
      this.init();
    }
  },
  beforeUnmount() {
    console.log("project-page", "beforeUnmount");
    const payload = this.postRobotPayload;
    postRobot.send(window, "iam.unregister", payload).catch(console.error);
  },
  unmount() {
    console.log("project-page", "unmount");
  },
  methods: {
    iamGetState() {
      console.log("project-page", "iamGetState");
      const payload = this.postRobotPayload;
      postRobot
        .send(window, "iam.get.state", payload)
        .then((event) => {
          console.log("project-page", "iam.get.state", event);
          this.logged = true === event.data.logged;
        })
        .catch(console.error);
    },
    async handleIamStateUpdate(event) {
      console.log("project-page", "iam.state.update", event);
      // Only proceed on valid data node
      if (!event.data) return;
      this.logged = true === event.data.logged;
      return 1;
    },
    init() {
      this.iamGetState();
    },
    postRobotOnReady() {
      try {
        postRobot.on("iam.state.update", this.handleIamStateUpdate);
      } catch (e) {}

      const payload = this.postRobotPayload;
      postRobot.send(window, "iam.register", payload).catch(console.error);
      this.init();
    },
  },
};
</script>
