<template>
  <iam-widget :redirecturi="redirecturi"></iam-widget>
</template>

<script>
export default {
  props: {
    // redirecturi: {
    //   type: String,
    //   required: true,
    //   default: "http://project-page.localhost/dashboard.html"
    // },
  },
  data() {
    return {
      redirecturi: "http://project-page.localhost/dashboard.html",
    };
  },
  mounted() {},
  methods: {},
};
</script>
